apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{.Name}}-mcad-metrics-resource-reader-crb
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{.Name}}-mcad-metrics-resource-reader-role
subjects:
  - kind: ServiceAccount
    name: mcad-controller-{{.Name}}
    namespace: {{.Namespace}}
