apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: {{.Name}}-mcad-controller-role
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
    app.kubernetes.io/managed-by: MCAD
    codeflare.codeflare.dev/cr-name: {{.Name}}
    codeflare.codeflare.dev/cr-namespace: {{.Namespace}}
rules:
  - apiGroups:
      - workload.codeflare.dev
    resources:
      - queuejobs
      - schedulingspecs
      - appwrappers
      - appwrappers/finalizers
      - appwrappers/status
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
      - namespaces
      - lists
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - scheduling.sigs.k8s.io
    resources:
      - podgroups
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
