apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: {{.Name}}-mcad-controller-role
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
rules:
  - apiGroups:
      - mcad.ibm.com
    resources:
      - queuejobs
      - schedulingspecs
      - appwrappers
      - appwrappers/finalizers
      - appwrappers/status
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
      - namespaces
      - lists
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - scheduling.sigs.k8s.io
    resources:
      - podgroups
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
