apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: hpa-controller-custom-metrics
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{.Name}}-mcad-custom-metrics-server-admin-role
  labels:
    app.kubernetes.io/managed-by: MCAD
    codeflare.codeflare.dev/cr-name: {{.Name}}
    codeflare.codeflare.dev/cr-namespace: {{.Namespace}}
subjects:
  - kind: ServiceAccount
    name: horizontal-pod-autoscaler
    namespace: kube-system
