apiVersion: v1
data:
  DISPATCHER_MODE: "{{.DispatcherMode}}"
  PREEMPTION: "{{.PreemptionEnabled}}"
  {{if ne .AgentConfigs ""}}DISPATCHER_AGENT_CONFIGS: "{{.AgentConfigs}}"{{end}}
  {{if ne .QuotaRestURL ""}}QUOTA_REST_URL: "{{.QuotaRestURL}}"{{end}}
  {{if ne .PodCreationTimeout -1}}DISPATCH_RESOURCE_RESERVATION_TIMEOUT: "{{.PodCreationTimeout}}"{{end}}
kind: ConfigMap
metadata:
  name: mcad-{{.Name}}-config
  namespace: {{.Namespace}}
  labels:
    app: mcad-{{.Name}}
    component: multi-cluster-app-dispatcher
