kind: ConfigMap
apiVersion: v1
metadata:
  name: instascale-{{.Name}}-config
  namespace: {{.Namespace}}
  labels:
    app: instascale-{{.Name}}
    component: instascale
data:
  maxScaleoutAllowed: "{{.MaxScaleoutAllowed}}"
