apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: instascale-{{.Name}}
  name: instascale-{{.Name}}
  namespace: {{.Namespace}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: instascale-{{.Name}}
  template:
    metadata:
      labels:
        app: instascale-{{.Name}}
    spec:
      containers:
      - args:
        - "--configs-namespace={{.Namespace}}"
        image: {{.ControllerImage}}
        name: instascale
        resources: {{.ControllerResources}}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          periodSeconds: 5
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          periodSeconds: 10
      serviceAccountName: instascale-{{.Name}}-sa
