apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: instascale-{{.Name}}
  name: instascale-{{.Name}}
  namespace: {{.Namespace}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: instascale-{{.Name}}
  template:
    metadata:
      labels:
        app: instascale-{{.Name}}
    spec:
      containers:
      - args:
        - "--configs-namespace={{.Namespace}}"
        image: quay.io/project-codeflare/instascale-controller:v0.0.3
        name: instascale
        resources: {{.ControllerResources}}
      serviceAccountName: instascale-{{.Name}}-sa
